In [29]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
from pathlib import Path
from itertools import chain
import re
from sklearn.feature_extraction.text import TfidfVectorizer
import requests

In [30]:
el_path_main = Path(os.getcwd()).parent
el_path_main

WindowsPath('e:/backup Asus G15 27_10_2021/Colegio de Mates Bourbaki/DLA2501 - Deep Learning Avanzado/Exam02')

In [31]:
# Where to look for available countries:
# https://crudata.uea.ac.uk/cru/data/hrg/cru_ts_4.09/crucy.2503061057.v4.09/countries/
# https://crudata.uea.ac.uk/cru/data/hrg/cru_ts_4.09/crucy.2503061057.v4.09/countries/cld/
lista_paises_extraer = [
    'Argentina',
    'Bolivia',
    'Brazil',
    'Chile',
    'Colombia',
    'Ecuador',
    'French_Guiana',
    'Guatemala',
    'Mexico',
    'Nicaragua',
    'Panama',
    'Paraguay',
    'Peru',
    'Uruguay',
    'USA',
    'Canada',
    'Venezuela'
]

In [32]:
# for x in lista_paises_extraer:
#     # Cloud Coverage (%)
#     sufix = 'cld'
#     path_to_read = f'https://crudata.uea.ac.uk/cru/data/hrg/cru_ts_4.09/crucy.2503061057.v4.09/countries/{sufix}/crucy.v4.09.1901.2024.{x}.{sufix}.per'
#     f = requests.get(path_to_read)
#     df = pd.DataFrame(f.text.split('\n')[3:])
#     df.to_excel(el_path_main/f'2. Datos/Country-level spatial averages/file_base_{sufix}_{x}.xlsx', index = False)

#     # Diurnal 2 m temperature range (degrees Celsius)
#     sufix = 'dtr'
#     path_to_read = f'https://crudata.uea.ac.uk/cru/data/hrg/cru_ts_4.09/crucy.2503061057.v4.09/countries/{sufix}/crucy.v4.09.1901.2024.{x}.{sufix}.per'
#     f = requests.get(path_to_read)
#     df = pd.DataFrame(f.text.split('\n')[3:])
#     df.to_excel(el_path_main/f'2. Datos/Country-level spatial averages/file_base_{sufix}_{x}.xlsx', index = False)

#     # Frost days (days per month)
#     sufix = 'frs'
#     path_to_read = f'https://crudata.uea.ac.uk/cru/data/hrg/cru_ts_4.09/crucy.2503061057.v4.09/countries/{sufix}/crucy.v4.09.1901.2024.{x}.{sufix}.per'
#     f = requests.get(path_to_read)
#     df = pd.DataFrame(f.text.split('\n')[3:])
#     df.to_excel(el_path_main/f'2. Datos/Country-level spatial averages/file_base_{sufix}_{x}.xlsx', index = False)

#     # Potential evapo-transpiration (mm/day)
#     sufix = 'pet'
#     path_to_read = f'https://crudata.uea.ac.uk/cru/data/hrg/cru_ts_4.09/crucy.2503061057.v4.09/countries/{sufix}/crucy.v4.09.1901.2024.{x}.{sufix}.per'
#     f = requests.get(path_to_read)
#     df = pd.DataFrame(f.text.split('\n')[3:])
#     df.to_excel(el_path_main/f'2. Datos/Country-level spatial averages/file_base_{sufix}_{x}.xlsx', index = False)

#     # Wet days (days)
#     sufix = 'pre'
#     path_to_read = f'https://crudata.uea.ac.uk/cru/data/hrg/cru_ts_4.09/crucy.2503061057.v4.09/countries/{sufix}/crucy.v4.09.1901.2024.{x}.{sufix}.per'
#     f = requests.get(path_to_read)
#     df = pd.DataFrame(f.text.split('\n')[3:])
#     df.to_excel(el_path_main/f'2. Datos/Country-level spatial averages/file_base_{sufix}_{x}.xlsx', index = False)

#     # Minimum 2 m temperature (degrees celsius)
#     sufix = 'tmn'
#     path_to_read = f'https://crudata.uea.ac.uk/cru/data/hrg/cru_ts_4.09/crucy.2503061057.v4.09/countries/{sufix}/crucy.v4.09.1901.2024.{x}.{sufix}.per'
#     f = requests.get(path_to_read)
#     df = pd.DataFrame(f.text.split('\n')[3:])
#     df.to_excel(el_path_main/f'2. Datos/Country-level spatial averages/file_base_{sufix}_{x}.xlsx', index = False)

#     # Mean 2 m temperature (degrees celsius)
#     sufix = 'tmp'
#     path_to_read = f'https://crudata.uea.ac.uk/cru/data/hrg/cru_ts_4.09/crucy.2503061057.v4.09/countries/{sufix}/crucy.v4.09.1901.2024.{x}.{sufix}.per'
#     f = requests.get(path_to_read)
#     df = pd.DataFrame(f.text.split('\n')[3:])
#     df.to_excel(el_path_main/f'2. Datos/Country-level spatial averages/file_base_{sufix}_{x}.xlsx', index = False)

#     # Maximum 2 m temperature (degrees celsius)
#     sufix = 'tmx'
#     path_to_read = f'https://crudata.uea.ac.uk/cru/data/hrg/cru_ts_4.09/crucy.2503061057.v4.09/countries/{sufix}/crucy.v4.09.1901.2024.{x}.{sufix}.per'
#     f = requests.get(path_to_read)
#     df = pd.DataFrame(f.text.split('\n')[3:])
#     df.to_excel(el_path_main/f'2. Datos/Country-level spatial averages/file_base_{sufix}_{x}.xlsx', index = False)

#     # Vapour pressure (hPa)
#     sufix = 'vap'
#     path_to_read = f'https://crudata.uea.ac.uk/cru/data/hrg/cru_ts_4.09/crucy.2503061057.v4.09/countries/{sufix}/crucy.v4.09.1901.2024.{x}.{sufix}.per'
#     f = requests.get(path_to_read)
#     df = pd.DataFrame(f.text.split('\n')[3:])
#     df.to_excel(el_path_main/f'2. Datos/Country-level spatial averages/file_base_{sufix}_{x}.xlsx', index = False)

#     # Wet days (days)
#     sufix = 'wet'
#     path_to_read = f'https://crudata.uea.ac.uk/cru/data/hrg/cru_ts_4.09/crucy.2503061057.v4.09/countries/{sufix}/crucy.v4.09.1901.2024.{x}.{sufix}.per'
#     f = requests.get(path_to_read)
#     df = pd.DataFrame(f.text.split('\n')[3:])
#     df.to_excel(el_path_main/f'2. Datos/Country-level spatial averages/file_base_{sufix}_{x}.xlsx', index = False)

In [33]:
def replace_multiple_spaces(text):
  """
  Replaces multiple blank spaces with a single space in a string.

  Args:
    text: The input string.

  Returns:
    The string with multiple spaces replaced by single spaces.
  """
  return ' '.join(text.split())

In [34]:
all_files_in_path_ctry_avg = os.listdir(el_path_main/f'2. Datos/Country-level spatial averages/')
file_prefix_ctry_avg = 'file_base_'
files_to_convert_ctry_avg = [entry for entry in all_files_in_path_ctry_avg if entry.startswith(file_prefix_ctry_avg)]
print(f'There where {len(files_to_convert_ctry_avg)} files found.')

There where 170 files found.

In [35]:
cases_not_to_include = ['MAM',
                        'JJA',
                        'SON',
                        'DJF',
                        'ANN']
map_name_number_mth = {'JAN':'01', 'FEB':'02', 'MAR':'03', 'APR':'04',
                       'MAY':'05', 'JUN':'06', 'JUL':'07', 'AUG':'08',
                       'SEP':'09', 'OCT':'10', 'NOV':'11', 'DEC':'12'}

dict_frames = {}
for x in files_to_convert_ctry_avg:
    df = pd.read_excel(el_path_main/f'2. Datos/Country-level spatial averages/{x}')
    # Get type of information that is beeing load (tmn, vap, pre, etc.)
    var_type = x[10:13]
    ctry_name = x.split('_')[-1].split('.')[0]

    df = df[0].str.strip()
    df = df.apply(replace_multiple_spaces)
    df = df.str.split(' ', expand=True)
    
    las_cols = df.iloc[0,:]
    el_cont = df.iloc[1:,:]

    df = el_cont.copy()
    df.columns = las_cols
    df = df.melt(id_vars = 'YEAR')
    df.columns = ['YEAR', 'MONTH', var_type.upper()]

    # Drop cases that are not relevant
    df = df[~df['MONTH'].isin(cases_not_to_include)]

    # Set country name
    df['COUNTRY'] = ctry_name

    # Transform month name to number
    df['MONTH'] = df['MONTH'].map(map_name_number_mth)

    # Codmes creation
    df['CODMES'] = df['YEAR']+df['MONTH']

    df.drop(['YEAR', 'MONTH'], axis=1, inplace=True)

    if var_type not in dict_frames:
        dict_frames[var_type] = {}
        dict_frames[var_type][ctry_name] = df.copy()
    else:
        dict_frames[var_type][ctry_name] = df.copy()

In [36]:
dict_frames.keys()

dict_keys(['cld', 'dtr', 'frs', 'pet', 'pre', 'tmn', 'tmp', 'tmx', 'vap', 'wet'])

In [37]:
dict_frames['cld'].keys()

dict_keys(['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Guiana', 'Guatemala', 'Mexico', 'Nicaragua', 'Panama', 'Paraguay', 'Peru', 'Uruguay', 'USA', 'Canada', 'Venezuela'])

In [38]:
df_consol = pd.DataFrame(columns=['CODMES', 'COUNTRY'])
for info_type in dict_frames.keys():
    df_consol_ctries = pd.DataFrame()
    for ctry in dict_frames[info_type].keys():
        df_consol_ctries = pd.concat([df_consol_ctries, dict_frames[info_type][ctry]])
        
    df_consol = pd.merge(df_consol, df_consol_ctries,
                         on = ['CODMES', 'COUNTRY'], 
                         how='outer')

In [39]:
lista_inicial_cols_df = df_consol.columns

In [40]:
for col in [x for x in df_consol.columns if x not in ['CODMES', 'COUNTRY']]:
    df_consol[f'es_miss_{col}'] = df_consol[col]=='-999.0'
df_consol[[x for x in df_consol.columns if x.startswith('es_miss_') ]].mean()
# No hay missings

es_miss_CLD    0.0
es_miss_DTR    0.0
es_miss_FRS    0.0
es_miss_PET    0.0
es_miss_PRE    0.0
es_miss_TMN    0.0
es_miss_TMP    0.0
es_miss_TMX    0.0
es_miss_VAP    0.0
es_miss_WET    0.0
dtype: float64

In [41]:
df_consol = df_consol[lista_inicial_cols_df]

In [42]:
for col in [x for x in df_consol.columns if x not in ['CODMES', 'COUNTRY']]:
    df_consol[col] = pd.to_numeric(df_consol[col], errors='coerce')

In [45]:
df_consol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25296 entries, 0 to 25295
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CODMES   25296 non-null  object
 1   COUNTRY  25296 non-null  object
 2   CLD      25296 non-null  float64
 3   DTR      25296 non-null  float64
 4   FRS      25296 non-null  float64
 5   PET      25296 non-null  float64
 6   PRE      25296 non-null  float64
 7   TMN      25296 non-null  float64
 8   TMP      25296 non-null  float64
 9   TMX      25296 non-null  float64
 10  VAP      25296 non-null  float64
 11  WET      25296 non-null  float64
dtypes: float64(10), object(2)
memory usage: 2.3+ MB

In [46]:
# df_consol.to_excel(el_path_main/'2. Datos/Country-level spatial averages/df_consol.xlsx', index = False)

In [ ]:
df_consol = pd.read_excel(el_path_main/'2. Datos/Country-level spatial averages/df_consol.xlsx')

In [50]:
df_consol

,CODMES,COUNTRY,CLD,DTR,FRS,PET,PRE,TMN,TMP,TMX,VAP,WET
0,190101,Argentina,46.8,13.8,0.7,5.6,52.4,14.2,21.1,28.0,15.3,6.6
1,190101,Bolivia,75.2,10.4,1.5,3.8,188.3,17.5,22.7,27.9,22.7,14.6
2,190101,Brazil,80.9,9.6,0.0,3.2,235.7,20.5,25.3,30.1,26.5,22.1
3,190101,Canada,56.3,9.5,30.8,0.2,35.8,-28.1,-23.3,-18.6,0.9,9.2
4,190101,Chile,52.4,10.0,3.3,3.9,77.4,8.3,13.3,18.3,10.3,5.8
...,...,...,...,...,...,...,...,...,...,...,...,...
25291,202412,Paraguay,55.4,11.3,0.0,5.0,165.4,20.6,26.2,31.9,24.3,9.1
25292,202412,Peru,78.2,11.5,3.0,3.3,149.0,14.8,20.5,26.2,19.9,13.8
25293,202412,USA,65.4,10.7,21.3,1.1,61.4,-4.1,1.2,6.5,5.4,9.0
25294,202412,Uruguay,42.4,11.8,0.0,5.1,81.6,15.5,21.4,27.3,18.1,8.8
25295,202412,Venezuela,56.9,10.1,0.0,3.5,81.5,20.7,25.7,30.8,25.9,9.8