In [7]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
from pathlib import Path
from itertools import chain
import re
from sklearn.feature_extraction.text import TfidfVectorizer
import requests
import xarray as xr
import matplotlib.pyplot as plt

# Set Path

In [8]:
el_path_main = Path(os.getcwd()).parent
el_path_main

WindowsPath('e:/backup Asus G15 27_10_2021/Colegio de Mates Bourbaki/DLA2501 - Deep Learning Avanzado/Flood forecasting')

# Load Datasets

## Gridded Time Series Dataset

In [ ]:
df_gts = pd.read_csv(el_path_main / '2. Datos/Main gridded data/consol_df_peru.csv')

In [ ]:
df_gts.sample(3)

,lon,lat,cld,dtr,frs,pet,pre,tmn,tmp,tmx,vap,wet,CODMES
552221,-77.25,-10.75,81.3,11.2,0.00,2.9,302.30002,17.1,22.7,28.300001,24.300001,19.859999,191506
530817,-71.75,-11.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,199110
254717,-73.25,-14.75,50.0,18.4,22.92,3.4,12.70000,-2.6,6.6,15.800000,5.200000,3.530000,192306

:

In [33]:
df_gts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 581505 entries, 0 to 581504
Data columns (total 13 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   lon     581505 non-null  float64
 1   lat     581505 non-null  float64
 2   cld     464009 non-null  float64
 3   dtr     464009 non-null  float64
 4   frs     464009 non-null  float64
 5   pet     462767 non-null  float64
 6   pre     464009 non-null  float64
 7   tmn     464009 non-null  float64
 8   tmp     464009 non-null  float64
 9   tmx     464009 non-null  float64
 10  vap     464009 non-null  float64
 11  wet     464009 non-null  float64
 12  CODMES  581505 non-null  int64
dtypes: float64(12), int64(1)
memory usage: 57.7 MB

## Country level dataset

In [30]:
df_consol = pd.read_excel(el_path_main/'2. Datos/Country-level spatial averages/df_consol.xlsx')

In [ ]:
df_consol.sample(3)

,CODMES,COUNTRY,CLD,DTR,FRS,PET,PRE,TMN,TMP,TMX,VAP,WET
6125,193101,Colombia,59.8,11.1,0.1,3.6,92.3,19.6,25.1,30.7,25.0,9.4
17649,198707,Canada,64.2,10.2,4.1,3.1,67.3,7.3,12.4,17.5,10.8,11.9
9788,194812,Peru,77.6,11.7,3.4,3.3,157.3,14.1,19.9,25.8,19.2,13.3

In [36]:
df_consol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25296 entries, 0 to 25295
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CODMES   25296 non-null  int64
 1   COUNTRY  25296 non-null  object
 2   CLD      25296 non-null  float64
 3   DTR      25296 non-null  float64
 4   FRS      25296 non-null  float64
 5   PET      25296 non-null  float64
 6   PRE      25296 non-null  float64
 7   TMN      25296 non-null  float64
 8   TMP      25296 non-null  float64
 9   TMX      25296 non-null  float64
 10  VAP      25296 non-null  float64
 11  WET      25296 non-null  float64
dtypes: float64(10), int64(1), object(1)
memory usage: 2.3+ MB